.container{
	background-color:blue;
}

.container-login{
	background-color: yellow;
	max-width:600px;
}

.user-input{
	line-height:1.3125;
}

.button{
	border-color: rgb(29, 161, 242);
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;
	cursor: pointer;
	
}